@import ../../../styles/helpers

.container
  max-width: 1440px
  +d
    padding: 0 40px
  +t
    padding: 0

.inner
  padding: 80px
  border-radius: 24px
  background: none
  box-shadow: inset 0 0 0 2px $white
  display: flex
  align-items: flex-start
  +d
    padding: 64px 40px
  +t
    display: block
    box-shadow: none
    +m
      padding: 24px 32px


.wrapper
  flex: 0 0 calc(100% - 352px)
  width: calc(100% - 352px)
  padding-right: 128px
  +d
    flex: 0 0 calc(100% - 304px)
    width: calc(100% - 304px)
    padding-right: 32px
  +t
    width: 100%
    padding: 0

.head
  display: flex
  align-items: flex-start
  margin-bottom: 64px
  +m
    display: block
    margin-bottom: 48px

.title
  margin-bottom: 16px
  +d
    margin-bottom: 24px
  +m
    text-align: center


.item
  background-color: $white
  box-shadow: 0 2px 3px 0 rgba(38, 50, 56, 0.2)
  border-radius: 16px
  padding: 20px

.category
  +body-bold-2
  margin-bottom: 24px
  +m
    margin-bottom: 20px

.fieldset
  .field
      margin-bottom: 24px
      +m
        margin-bottom: 20px

.item
  .button
    +dark
      box-shadow: inset 0 0 0 2px $black
  &:not(:first-child)
    .category
      margin-bottom: 24px

.foot
  display: flex
  align-items: center
  +m
    display: block
    text-align: center

.btns
  align-items: center
  display: inline-flex
  margin-left: auto
  margin-top: 64px
  text-align: center
  +t
    margin-top: 48px