@import ../../styles/helpers

.footer
  border-top: 1px solid $purpleDark

.bottom
  padding: 24px 0
  text-align: center

.link
  +button-2
  color: $black
  transition: color .2s
  +m
    +poppins
    font-size: 24px
    font-weight: 600

